/* 
	생성 : 김용민
	작업 : 김용민
*/

#commonMain {
	width:70%; 
	hegiht:100%; 
	margin: auto; 
	margin-top:4.5rem;
	overflow: hidden;
	position: relative;
}
/* 메뉴버튼 css 시작 */
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.menuBtn {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top:20px;
}  
.menuBtn * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
}
.menuBtn li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    overflow: hidden;
}
.menuBtn a {
    padding: 0.3em 0.8em;
    backface-visibility: hidden;
    color: #bfbfbf;
    display: block;
    line-height: 2em;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}
.menuBtn a:after {
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
    color: #2980b9;
    content: attr(data-hover);
    top: 0;
    line-height: 2em;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.menuBtn li:hover a,
.menuBtn li.current a {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    color: transparent;
}
.menuBtn li:hover a:after,
.menuBtn li.current a:after {
    opacity: 1;
}
/* 메뉴버튼 css 끝 */


/*테이블 캡션*/
#notice-table caption {
 text-align: center;
 font-size: 22px;
 margin-top: 30px;
 margin-bottom: 14px;
}

/*테이블 설정*/
#notice-table {
 width: 100%;
 border-top: 1px solid #d0d0d0;
 border-collapse: collapse;
 margin-bottom: 20px;
}
#notice-table col:nth-child(1) {widht: 70px;}
#notice-table col:nth-child(3) {widht: 115px;}
#notice-table th, #notice-table td {
 border-bottom: 1px solid #d0d0d0;
 padding: 0.55em 0.8em;
 font-size: 14px;
}

#notice-table tr:hover {
 background: #f0f0f0; 
}

#notice-table th {
 background: #f4f4f4;
 color: #828282;
 font-weight: normal;
 border-bottom: none;
 text-align: center;
}

#notice-table td:not(:nth-child(2)) {
 text-align: center;
 color: #909090;
}

#notice-table a {
 color: #454545;
 text-decoration: none;
}

#notice-table a:hover, #notice-table a:focus {
 text-decoration: underline;
 padding-bottom: 1px;
 border-bottom: 1px solid currentcolor;
}

/* 게시판 글쓰기 버튼 시작 */
.ac-button.is-solid.is-primary {
    border-color: #70B9E9;
    font-weight: 700;
    background-color: #70B9E9;
}

.ac-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    line-height: 1.47;
    font-weight: 500;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0 12px;
    height: 40px;
    line-height: 1.43;
    font-size: 14px;
    letter-spacing: 2px;
    border: 1px solid;
    color: #fff;
    float: right;
    margin-bottom: 10px;
}
/* 게시판 글쓰기 버튼 끝 */


/* 게시판 검색 */



/* input 디자인 */
#searchType {
    margin-top: 10px;
    border: 2px solid rgba(144, 144, 144, 0.75);
    background-color: rgba(183, 183, 183, 0.75)
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    width: 10%;
}

/* input focus 디자인 */
#searchType:focus {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    outline-color: rgba(144, 144, 144, 0.95);
}

#keywordInput_wrap {
    max-width: 200px;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    margin-bottom: 20px;
    display:inline-block;
}

/* input 디자인 */
#keywordInput {
    margin-top: 10px;
    border: 2px solid rgba(144, 144, 144, 0.75);
    background-color: rgba(183, 183, 183, 0.75)
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    width: 100%;
}
/* input focus 디자인 */
#keywordInput:focus {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    height: auto;
    outline-color: rgba(144, 144, 144, 0.95);
}

#searchBtn{
	margin-top: 5px;
	margin-left:10px;
	width : 30px;
	height : 30px;
	border : 0;
	outline : 0;
	background-color:transparent;
}
.listBtn{
	width:70%;  
	margin: auto; 
	margin-top:5rem;
	margin-bottom:10px;
	overflow: hidden;
	position: relative;
}
.boardDetail{
	width:70%; 
	hegiht:85%; 
	margin: auto; 
	overflow: hidden;
	position: relative;
}
.deleteBtn{
	all : unset;
	color: #ff8e8e;
}
#plannerboardDetail{
	width:70%; 
	hegiht:100%; 
	margin: auto; 
	overflow: hidden;
	position: relative;
	text-align : center;
}
#plannerBtn_p{
	width:70%; 
	margin: 5rem auto 5px auto; 
}