/* 
	생성 : 김용민
	작업 : 김용민
*/

#commonMain {
	border: 1px solid red; 
	width:70%; 
	hegiht:100%; 
	margin: auto; 
	margin-top:4.5rem;
	overflow: hidden;
	position: relative;
}
/* 메뉴버튼 css 시작 */
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.menuBtn {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top:20px;
}  
.menuBtn * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
}
.menuBtn li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1em;
    overflow: hidden;
}
.menuBtn a {
    padding: 0.3em 0.8em;
    backface-visibility: hidden;
    color: #bfbfbf;
    display: block;
    line-height: 2em;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
}
.menuBtn a:after {
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
    color: #2980b9;
    content: attr(data-hover);
    top: 0;
    line-height: 2em;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.menuBtn li:hover a,
.menuBtn li.current a {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
    color: transparent;
}
.menuBtn li:hover a:after,
.menuBtn li.current a:after {
    opacity: 1;
}
/* 메뉴버튼 css 끝 */


/*테이블 캡션*/
#notice-table caption {
 text-align: center;
 font-size: 22px;
 margin-top: 30px;
 margin-bottom: 14px;
}

/*테이블 설정*/
#notice-table {
 width: 100%;
 border-top: 1px solid #d0d0d0;
 border-collapse: collapse;
}
#notice-table col:nth-child(1) {widht: 70px;}
#notice-table col:nth-child(3) {widht: 115px;}
#notice-table th, #notice-table td {
 border-bottom: 1px solid #d0d0d0;
 padding: 0.55em 0.8em;
 font-size: 14px;
}

#notice-table tr:hover {
 background: #f0f0f0; 
}

#notice-table th {
 background: #f4f4f4;
 color: #828282;
 font-weight: normal;
 border-bottom: none;
 text-align: center;
}

#notice-table td:not(:nth-child(2)) {
 text-align: center;
 color: #909090;
}

#notice-table a {
 color: #454545;
 text-decoration: none;
}

#notice-table a:hover, #notice-table a:focus {
 text-decoration: underline;
 padding-bottom: 1px;
 border-bottom: 1px solid currentcolor;
}