.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
	color:#000;
	text-decoration: none;
}

.map_wrap {
	position:relative;
	width:100%;
	height:100%
}

#menu_wrap {
	top-margin: 0; 
	position:absolute;
	top:0;
	left:0;
	bottom:1;
	overflow-y:auto;
	font-size:12px; 
	height: 89vh; 
	width: 100%;
}

.bg_white {
	background:#fff;
}

#menu_wrap hr {
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 2px solid #5F5F5F;
	margin:3px 0;
}

#menu_wrap .option {
	text-align: center;
}

#menu_wrap .option p {
	margin:10px 0;
} 

#placesList .item {
	position:relative;
	border-bottom:1px solid #888;
	overflow: hidden;
	min-height: 65px;
}
#placesList .item span {
	display: block;
	margin-top:4px;
}
#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .info .gray {
	color:#8a8a8a;
}

#placesList .info .jibun {
	padding-left:26px;
	background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#placesList .info .tel {
	color:#009900;
}
#placesList .item .markerbg {
	float:left;
	position:absolute;
	width:36px; 
	height:37px;
	margin-top: 3%; 
	margin-left: 5%; 
	background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#pagination {
	margin:10px auto;
	text-align: center;
}
#pagination a {
	display:inline-block;
	margin-right:10px;
}
#pagination .on {
	font-weight: bold; 
	cursor: default;
	color:#777;
}

#placesList {
	width: 100%;
	padding: 0;
	margin: 0;
}

.placelistDiv{
	position: absolute;
	left: 90%;
	top: 25%;
}

#createPlannerMain {
	border: 1px solid red;
	width:100vw;
	height:100vh;
	margin-top:4.5rem;
	padding-bottom:4.5rem;
}

#topBar {
	border: 1px solid blue;
	width: 100%;
	height: 10vh;
	float: right;
}

#topBarBtnWrapper {
	float: right;
	margin-right: 5%;
	width: 30%;
	margin-top: 3vh;
}

#btnPlannerSave {
	width: 45%;
}

#btnPlannerClose {
	float: right;
	width: 45%;
}

#palnnerInfo {
	border: 2px solid orange;
	margin-top: 10vh;
	height: 90vh;
}

#palnnerDate {
	border: 1px solid green;
	width:7%;
	height: 100%;
	float:left;
	text-align: center;
}

.plannerDateInfo {
	border: 1px solid red;
	width: 100%;
	height: 10vh;
}

.palnnerDateInfoSpanClass {
	font-size:34px;
	line-height: 7vh;
}

#palnnerDateInfoFirstId {
	border: 1px solid red;
	width: 100%;
	height: 10vh;
	line-height: 10vh;
	font-size:34px;
	
}

#plannerDetailDate {
	border: 1px solid yellow;
	width:17%;
	height: 100%;
	float:left;
	
}

.plannerDetailDateInfo {
	border: 1px solid red;
	width: 100%;
	height: 20vh;
}

.plannerDetailDateInfoClose {
	float: right;
}

#plannerDetailDateInfoFirstId {
	border: 1px solid red;
	width: 100%;
	height: 10vh;
	text-align: center;
	font-size: 24px;
	line-height: 10vh;
}

.plannerDetailDateInfoTitle {
	text-align: center;
	font-size: 24px;
	margin-top: 10%;
	margin-bottom: 10%;
}

.plannerDetailDateInfoTime {
	float: left;
	position: relative;
	width: 100%;
	font-size: 25px;
	margin-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.plannerDetailDateInfoMemo {
	float: left;
	margin-bottom: 5%;
	position: relative;
	width: 100%;
	font-size: 25px;
	padding-left: 10%;
	padding-right: 10%;
}

#plannerDetailPlaceFirstId {
	width: 100%;
	height: 6vh;
	
}

#plannerDetailPlaceFirstIdWrapper {
	margin-top: 3vh;
	margin-left: 5%;
	margin-right: 5%;
}

#plannerDetailPlaceFirstIdWrapper > input {
	width: 70%;
}

#plannerDetailPlaceFirstIdWrapper > button {
	width: 25%
}

.form-control {
	float: right;
	width: 80%;
}

#plannerDetailPlace {
	border: 1px solid pink;
	width:20%;
	height: 100%;
	float:left;
}

.plannerDetailPlaceInfo {
	height: 10vh;
	display: table;
	width: 100%;
}

.plannerDetailPlaceInfoImg{
	border: 1px solid black;
	display: table-cell;
	width: 20%;
}

.plannerDetailPlaceInfoImg > img {
	margin-top: 3vh;
}

.plannerDetailPlaceInfoAddress{
	display: table-cell;
	width: 70%;
	text-align: center;
}

.plannerDetailPlaceInfoAddressName {
	font-size: 24px;
}

.plannerDetailPlaceInfoAddressinfo {
	fint-size: 12px;
}

.plannerDetailPlaceInfoAddressNumber {
	font-size: 10px;
	color: green;
}

.plannerDetailPlaceInfoBtn {
	display: table-cell;
	width: 10%;
	text-align: center;
}

.plannerDetailPlaceInfoBtn > button {
	margin-top: 3vh;
}

#palnneKakaoAPI {
	border: 1px solid black;
	width:56%;
	height: 100%;
	float:left;
}