a {
	color: black;
	text-decoration:none;
}

a:hover {
	color: black;
	text-decoration:none;
}

a:link {
	color: black;
	text-decoration:none;
}

a:visited {
	color: black;
	text-decoration:none;
}

a:active {
	color: black;
	text-decoration:none;
}

.intro_top {
    width: 100%;
    height: 600px;
    background-color: #F4E35F;
    text-align: center;
    position: relative;
    margin-top:4.5rem;
    overflow: hidden;
    z-index: -1;
}

#wrapper{
	overflow: hidden;
	position: relative;
	height: 100%;
}

#plannerDetailCardWrapper{
	margin-top: 5%;	
}

#dayAllMapSelectId {
	width: 100%; 
	text-align: center;
}

#menuContainer{
	border: 1px solid #d3d3d3;
	border-top: none;
	float: left;
	width: 15%;
	height: 600px;
	font-size: 30px;
	text-align: center;
	background-color: #F6F6F6;
}

#menuContainer > ul, #menuContainer > li {
	list-style:none;
	padding-left: 0px;
}

#menuContainer > li > a {
	color: white;
}

.plannerMenuli {
	margin-top:20px;
	color: white;
}

#plannerContainer{
	float: right;
	width: 80%;
	height: 100%;
}

#plannerInfo{
	border: 1px solid #d3d3d3;
	border-top: none;
	width: 100%;
	height: 80px;
	
}

#plannerInfo .btn{
	height: 60px;
	width: 200px;
	float: right;
	margin: auto 0;
	margin-top: 10px;
	margin-right: 5%
}

#plannerContainerWrapper {
	display: table;
	width: 100%;
	height: 90%;
}

#plannerDetailWrapper {
	border: 1px solid #d3d3d3;
	border-top: none;
	width: 70%;
	height: 100%;
	float: left;
}

#plannerAllWrapper {
	width: 30%;
	height: 100%;
	float: right;
}

#plannerAllCard {
	width: 100%;
}

.plannerDetailCard {
	margin: 3%;
}

.plannerDetailCardBody {
	border-bottom: 1px solid #d3d3d3;
	display: table;
	padding: 2%;
	text-align: center;
}

.plannerDetailCardBodyInfo {
	display: table-cell;
	float: left;
	width: 70%;
	height: 15vh;
}

.plannerDetailCardBodyMap {
	border: 1px solid #d3d3d3;
	display: table-cell;
	float: right;
	width: 30%;
	height: 15vh;
}

.plannerDetailCardBody:last-child {
	border-bottom: hidden;
}

.plannerDetailCardDay {
	font-size: 24px;
}

.plannerDetailCardBodyTimeWrapper {
	font-size: 18px;
}

.plannerDetailCardBodyPlaceWrapper {
	margin-bottom: 5%;
	font-size: 32px;
}

.blockquote-footer {
	margin-top: 5%;
}

.plannerDetailCardTime { 
	margin-left: 5%;
}

#allMap {
	height: 100%; 
	width: 100%;
}

.dayAllMapClass{
	height: 30vh;
}

#plannerTitle {
	border-bottom: 1px solid #d3d3d3;
	text-align:center;
	font-size: 34px;
	justify-content: center;
}

.btn {
    border-color: #70B9E9;
    font-weight: 700;
    background-color: #70B9E9;
    color: white;
}