/* 
	생성 : 최윤서 
	작업 : 김용민
*/
/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* 메인 색상 */
    /*Purple 250 - Green 142 - Blue 230 - Pink 340 - green 142*/
    --hue-color: 204; 

    /* HSL color mode */
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

}

/*==================== FONT ====================*/
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'KyoboHand';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

h1, h2, h3, h4 {
  color: #000;
  font-weight: 600;
}

h5 {
  font-size: 13px;
  color: #fff;
}

b{
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: 1.5rem;
  color: #000;
}

.section_subtitle {
  display: block;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.section_title, 
.section_subtitle {
  text-align: center;
}


/*==================== LAYOUT ====================*/
.header,
.main,
.footer{
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

body{
  margin: 0;
}

.header {
  top: 0;
  bottom: initial;
  position: fixed;
  width: 100%;
  background-color: transparent;
}

.nav_list{
  display: flex;
  column-gap: 1.5rem;
}
.nav{
  height: 4.5rem;
  column-gap: 1rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.nav_icon{
  font-size: 1.2rem;
}
.nav_menu{
  margin-left: auto;
}
.change-theme{
  margin: 0;
}

/* 메뉴바 그림자 */



/*==================== NAV ====================*/
.nav{
  max-width: 1800px;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.nav_icon{
  display: none;
}

.nav_logo > img {
  position: absolute;
  width: 6%;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}
.nav_list{
  display: flex;
  column-gap: 2rem;
}

.nav_icon{
  font-size: 1.2rem;
}


.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.nav_link:hover{
  color: #70B9E9;
}
.nav_color_b{
  color: #4a4a4a;
}

.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
  background-color:white;
  font-color:black;
  color:black;
  border:1px solid black;
  font-size:20px;
}
.scroll-header:hover{
  color: #70B9E9;
}

#video_area {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
#background_video {
    z-index: -1;
    width: 100vw;
    position: absolute;
}

/*============ GIF ============*/
@media (max-aspect-ratio: 16/9){
	.back-video{
		width: auto;
		height:100%;
/* 	} */
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #70B9E9;
}

/*==================== 화면 사이즈 ====================*/
@media screen and (max-width: 1800px){
  .nav{
    max-width: 1600px;
  }
}

@media screen and (max-width: 1600px){
  .nav{
    max-width: 1400px;
  }
}
@media screen and (max-width: 1400px){
  .nav{
    max-width: 1200px;
  }
}