h2 {
	text-align: center;
	margin-top: 30px;
}

#memberInfoWrapper {
	border: 1px solid #d3d3d3;
	border-top: none;
	border-left: none;
	width: 85%;
	height: 400px;
	float: right;
}

.memberInfo{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 13px;
}

.memberInfoBtn {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	margin-top: 13px;
}

#memberInfoPwWrapper {
	border: 1px solid #d3d3d3;
	border-top: none;
	border-left: none;
	width: 85%;
	height: 350px;
	float: right;
}

.check{
	font-size:13px;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.btn {
    border-color: #70B9E9;
    font-weight: 700;
    background-color: #70B9E9;
    color: white;
}