a {
	color: black;
	text-decoration:none;
}

a:hover {
	color: black;
	text-decoration:none;
}

a:link {
	color: black;
	text-decoration:none;
}

a:visited {
	color: black;
	text-decoration:none;
}

a:active {
	color: black;
	text-decoration:none;
}

tr[data-no] {
	cursor: pointer;
}

.intro_top {
    width: 100%;
    height: 600px;
    background-color: #F4E35F;
    text-align: center;
    position: relative;
    margin-top:4.5rem;
    overflow: hidden;
    z-index: -1;
}

#container {
    font-family: 'KyoboHand';
    justify-content: center;
    
}



 /*사이드 메뉴*/
#menuContainer{
	border: 1px solid #d3d3d3;
	float: left;
	width: 15%;
	height: 735px;
	font-size: 30px;
	text-align: center;
	background-color: #F6F6F6;
	margin-top: 170px;
}

#menuContainer > ul, #menuContainer > li {
	list-style:none;
	padding-left: 0px;
}

#menuContainer > li > a {
	color: white;
}

.mypageMenuli {
	margin-top:20px;
	color: white;
}

#memberSearchBtn{
	width: 25%;
	/* height:30px; */
	margin-left:700px;
	margin-bottom: 19px;
}

#board-container > h1 {
	text-align: center;
	margin-top: 64px;
	margin-right: 190px;
}
/* 테이블 캡션 */
#notice-table-1 caption {
 text-align: center;
 font-size: 22px;
 margin-top: 30px;
 margin-bottom: 14px;
}
/*테이블 설정*/
#notice-table-1 {
 width: 85%;
 border-top: 1px solid #d0d0d0;
 border-collapse: collapse;
 margin-bottom: 20px;
}
#notice-table-1 col:nth-child(1) {widht: 70px;}
#notice-table-1 col:nth-child(3) {widht: 115px;}
#notice-table-1 th, #notice-table td {
 border-bottom: 1px solid #d0d0d0;
 padding: 0.55em 0.8em;
 font-size: 14px;
}

#notice-table-1 tr:hover {
 background: #f0f0f0; 
}

#notice-table-1 th {
 background: #f4f4f4;
 color: #828282;
 font-weight: normal;
  border-bottom: 1px solid #d0d0d0;
 text-align: center; 
}

#notice-table-1 td:not(:nth-child(2)) {
 text-align: center;
 color: #909090;
  border-bottom: 1px solid #d0d0d0;
}

#notice-table-1 a {
 color: #454545;
 text-decoration: none;
}

#notice-table-1 a:hover, #notice-table a:focus {
 text-decoration: underline;
 padding-bottom: 1px;
 border-bottom: 1px solid currentcolor;
}

#list-head {
  font-size: medium;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

#list-head th{
  padding-bottom: 7px;
  text-align: center;
  font-size: larger;
}

#list-head th:nth-child(3){
  width: 8%;
}

#list-content{
  text-align: center;
}
  
  
tbody tr{
  line-height: 3.3;
}

#list-content td:first-child{
  width: 1%;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid #d0d0d0;
}

#ck {
  transform : scale(1.4);
}

.ckbox:checked {
  transform: scale(1.5);
  accent-color: #abb7fb;
}

#list-content td:nth-child(2) {
	width: 18%;
	border-bottom: 1px solid #d0d0d0;
}

.btn {
	margin-left: 10px;
	border: none;
	border: #88caf9 4px solid;
	background-color: #5cb9f7;
	height: 35px;
	color: white; 
	border-radius: 10px;
	
	padding: 0.1rem 0.5rem 1.3rem 0.55rem;
	transform: translateY(-5px);
} 
      
      
#adminboard-head {
  display: flex;
 /*  border-bottom: 2px solid gray; */
 justify-content: space-around;
}

#btn-sort-wrap {
  display: flex;
  align-items: flex-end;
}

#btn-sort-wrap button {
  font-size: 1rem;

  margin: 15px -35px 10px 10px;
  letter-spacing: 6px;
  border: none;
  background-color: #5cb9f7;
  cursor: pointer;
  border-radius: 0.5rem;
/*   transition: all 0.3s ease 0s; */
  padding: 1px 7px 5px 7px; 
}
  
h5 {
	font-size: 30px;
	color: #000000;
}
       
   
#btn-sort-wrap button:hover {
  background-color: #d7edf4;
  border: 1px solid transparent;
  white-space: nowrap;
  border: none;
  box-shadow: 1px 3px 5px rgba(238, 232, 232, 0.2);
}

#sortType-wrap {
  display: flex;
  align-items: flex-end;
}
#sortType{
  /* width: 100px !important; */
  appearance: none;
  font-family: 'KyoboHand';
  margin: 0 10px 10px;
  padding: 0.27rem 2rem 0.27rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
 /*  background-color: #fff; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
#list-content a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
  
  
  /* 게시판 글쓰기 버튼 시작 */
.ac-button.is-solid.is-primary {
  border-color: #70B9E9;
    font-weight: 700;
    background-color: #70B9E9;
    color: white;
}
/* 게시판 글쓰기 버튼 끝 */
  
  
  
  
  
  
  
  
  


/*   
  #Tadminboard-submenu {
    margin-top: 100px;
    text-align: right;
    width: 10%;
  }
  #Tadminboard-submenu ul {
    padding: 0;
  }
  #Tadminboard-submenu li {
    list-style: none;
    margin: 10px 0;
    font-weight: 700;
    font-size: 35px;
  }
 
  #Tadminboard-submenu a {
    color: black; 
    text-decoration: none;
  }
  .current {
    color: #96d1fa!important;
  } */
    /* 여기까지 submenu */
  
/*   #adminboard{
    margin: -260px 0px 0px 190px;
    width: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  #adminboard h2 {
  
    font-size: 45px;
    padding: 20px;
    margin: 25px 4px 0px;
  }
  #adminboard table {
    width: 100%;
    border-collapse: collapse
  } */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
