.createPlannerModalForm {
	width : 100%;
	height : 100%;
	position : fixed;
	background : rgba(0,0,0,0.5);
	z-index : 5;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}

.show-modal {
	visibility: visible;
	opacity: 1;
}

#createPlannerModal {
	width : 50%;
	height : 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.modalInfo {
	float: left;
	margin-top: 30px;
	margin: auto 0;
}

.modal-body {
	font-size: 25px;
	padding-left: 20%
}

#travelTitleWrapper {
	margin-bottom: 30px;
	position: relative;
	width: 80%;
}

#travelTitle {
	float: right;
	width: 70%;
}

.travelTimeClass {
	width: 30%
}

#travelTimeWrapper {
	margin-bottom: 30px;
	position: relative;
	width: 80%;
}

#travelTimeStartWrapper{
	width: 62%;
	float: left;
}

#travelTimeStart {
	float: right;
	width: 52%;
}

#travelTimeEndWrapper{
	width: 37%;
	float: right;
	margin-left: 1%;
}

#travelTimeEnd{
	float: right;
	width: 88%;
}

#travelMemoWrapper {
	width: 80%;
}

#travelMemo{
	float: right;
	width: 70%;
}

.cardDateSpan {
	float: left;
}

.cardDaySpan {
	float: right;
}

.cardTitleSpan {
	font-size: 28px;
}

.cardExplanSpan {
	font-size: 14px;
	color: #868e96;
}

.modal-footer {
	justify-content: center;
	margin: auto 0;
}

.dayAllMapClass {
	border: 1px solid #d3d3d3;
	height: 22vh;
}

.btn {
    border-color: #70B9E9;
    font-weight: 700;
    background-color: #70B9E9;
    color: white;
}