#bannder {
	border: 1px solid purple;
	height:300px;
}

#wrapper{
	border: 1px solid green;
	position: relative;
	height: 800px;
}

#menuContainer{
	border: 1px solid blue;
	float: left;
	width: 15%;
	height: 600px;
	font-size: 30px;
	text-align: center;
	background-color: #F6F6F6;
}

#menuContainer > ul, #menuContainer > li {
	list-style:none;
	padding-left: 0px;
}

#menuContainer > li > a {
	color: white;
}

.plannerMenuli {
	margin-top:20px;
	color: white;
}

#plannerContainer{
	border: 1px solid yellow;
	float: right;
	width: 80%;
	height: 100%;
}

#plannerInfo{
	border: 1px solid black;
	width: 100%;
	height: 80px;
	
}

#plannerInfo .btn{
	height: 60px;
	width: 200px;
	float: right;
	margin: auto 0;
	margin-top: 10px;
	margin-right: 5%
}

#cardWrapper {
	border: 1px solid green;
	justify-content: center;
	margin: auto 0;
	padding-left: 5%;
	padding-right: 5%;
}

#plannerContainer .card{
	display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 5%;
}