.menu {
    display: block;
    overflow: hidden;
    width: 60px;
    background-color: rgb(180, 204, 255);
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 1000px;
    right: 40%;
    margin-right: -670px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

.menu a{
    color: #000;
}

.menu div {
    position: absolute;
    right: 10px; 
    top: 400px;
    float: right;
    line-height: 1.5;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: right;
    clear: left;
}
.menu li:nth-child(1) a::before{ content: '\eacf'; }
.menu li:nth-child(2) a::before{ content: '\ef49'; }
.menu li:nth-child(3) a::before{ content: '\e8cd'; }
.menu li:nth-child(4) a::before{ content: '\e675'; }

