/*==================== SIDE BAR ====================*/

.quickmenu {
	position: absolute;
	width: 90px;
	top: 50%;
	margin-top: -50px;
	right: 20px;
}

.quickmenuUl {
}

.quickmenuLi {
	text-align:center;
	margin-bottom : 30px;
	width : 40px;
	height : 40px;
}

.quickMenuImg{
	margin : 10px;
}
