	.thumbNailName {
		display : inline-block;
		width : 280px;
		height : 30px;
		text-align: center;
	}
	#contentArea2 {
		width : 280px;
		height : 330px;
		border: 1px solid black; 
		overflow: hidden;
		margin-right : 10px;
		margin-bottom : 10px;
		box-shadow: 5px 5px 5px gray;
		display: inline-block;
	}
	
	#thumbNail {
		width : 280px;
		height : 250px;
		border: 1px solid black; 
		margin: auto; 
		overflow: hidden;
		display: inline-block;
	}	
	.btn-lg {
	    border-color: #70B9E9;
	    font-weight: 700;
	    background-color: #70B9E9;
	    color: white;
	}
	#outerDiv {
		/* margin-left : 6%; */
		/* border: 1px solid green; */
		/* width : 1180px; */
	}
	
	#innerDiv {
		/* border: 1px solid green;  */
		display: flex; 
		justify-content: right; 
		margin-right : 8%;
		margin-top : 30px; 
		margin-bottom : 30px;
	}
	
	#infoMain{
    width:90%; 
    hegiht:100%; 
    margin: auto; 
    margin-bottom:12rem;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 3px 1px #dadce0;
    border-radius: 30px;
}

#boardMain {
   /*  border: 1px solid red;  */
    width:80%; 
    hegiht:100%; 
    margin: auto; 
    margin-top:4.5rem;
    overflow: hidden;
    position: relative;
}