/*
	생성 : 전인찬
	작업 : 전인찬
*/
#commonMain2{
	border: 2px solid black;
	margin-bottom: 5%;
}

#infoBox{
	border: 2px solid black;
	border-radius: 30px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#infoTop{
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 3%;
	margin-right: 3%;
}

#slideBoxBigImg{
	border: 2px solid black;
	width: 30%;
	float: left;
}

#bigImg{
}

#slideBoxSlide{
	margin-top: 5%;
	
}

#slideBoxPrew{
	display: inline-block;
	float: left;
}

#slideBoxList{
	margin: auto;
	text-align : center;
	display: inline-block;
}

#slideBoxNext{
	display: inline-block;
	float: right;
}

#tourismInfo{
	border: 2px solid black;
	margin-left: 3%;
	width: 66%;
	display: inline-block;
}

#tourismInfoTagBox{
	margin: auto;
	wifth: 100%;
}

#tabContent1{
	clear: both;
	display:block;
}

#tabContent2{
	display:none;
}

#tabContent3{
	display:none;
}

#tabContent1Table{
	border: 1px solid black;
}

#tabContent2Table{
	border: 1px solid black;
}

#tabContent3Table{
	border: 1px solid black;
}

#infoBot{
	border: 2px solid black;
	clear: both;
}

#mainlist{
	margin-top: 3%;
}

#mainlistButton{
	float: right;
	border: 2px solid black;
	border-radius: 30px;
	width: 10%;
	text-align : center;
}

/* test */

#searchTh{
	text-align : center;
	width : 20%;
}

#searchTd{
	
}

#searchContentBtn{
	float: right;
}

#searchServiceBtn{
	float: right;
}

#searchAreaBtn{
	float: right;
}

.createContentModalForm{
	width : 100%;
	height : 100%;
	position : fixed;
	background : rgba(0,0,0,0.5);
	z-index : 5;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}

.createAreaModalForm{
	width : 100%;
	height : 100%;
	position : fixed;
	background : rgba(0,0,0,0.5);
	z-index : 5;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}

.createServiceModalForm{
	width : 100%;
	height : 100%;
	position : fixed;
	background : rgba(0,0,0,0.5);
	z-index : 5;
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}

.show-modal {
	visibility: visible;
	opacity: 1;
}

#createContentModal {
	width : 50%;
	height : 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#createAreaModal {
	width : 50%;
	height : 50%;
	margin-left: 25%;
	margin-right: 25%;
}

#createServiceModal {
	width : 50%;
	height : 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.modalInfo {
	float: left;
	margin-top: 30px;
	margin: auto 0;
}

#title {
	float: right;
	width: 70%;
}

.modal-body {
	font-size: 25px;
	padding-left: 20%
}

.modal-footer {
	justify-content: center;
	margin: auto 0;
}

.finalName {
	display: inline-block;
}

.btn btn-info {
	display: block;
}

#contentArea2 {
	margin-left : auto;
	margin-right : auto;
}

.thumbNailLink {
	display: inline-block;
	margin : 10px;
	width : 300px;
	height : 200px;
	text-align: center;
}

.thumbNailName {
	display : inline-block;
	width : 300px;
	height : 65px;
	text-align: center;
}