<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.board.friend.model.dao.FriendBoardDao">
<!-- <mapper namespace="dao 경로"> -->
 	<select id="selectFriendBoardList" parameterType="String" resultMap="FriendBoardMap">
		select
		    fb.fb_no,
		    fb.fb_p_no,
		    m.m_nickname,
		    fb.fb_title,
		    fb.fb_content,
		    fb.fb_created_at,
		    fb.fb_updated_at,
		    fb.fb_read_count,
		    (select count(*) from tmi_friend_board_attachment where fba_fb_no = fb.fb_no) attachCount
		from
		    tmi_friend_board fb join tmi_member m
		        on fb_m_email = m.m_email
		order by
			fb.fb_no desc
	</select> 
	
	<insert id="insertFriendBoard">
		insert into 
			tmi_friend_board 
		values 
			(seq_pb_no.nextval, null, #{fb_m_email}, #{fb_title}, sysdate, sysdate, 0, #{fb_content})
	</insert>
	
	<resultMap id="FriendBoardMap" type="friendBoard">
		<result column="fb_no" property="fb_no"/>
		<result column="fb_p_no" property="fb_p_no"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="fb_title" property="fb_title"/>
		<result column="fb_content" property="fb_content"/>
		<result column="fb_created_at" property="fb_created_at"/>
		<result column="fb_updated_at" property="fb_updated_at"/>
		<result column="fb_read_count" property="fb_read_count"/>
		<result column="attachCount" property="attachCount"/>
	 </resultMap>
</mapper>