<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.board.friend.model.dao.FriendBoardDao">
<!-- <mapper namespace="dao 경로"> -->
	<select id="selectFriendBoardList" resultType="friendBoard">
		select
			*
		from
			tmi_friend_board
	</select>
</mapper>