<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.chat.model.dao.ChatDao">
<!-- <mapper namespace="dao 경로"> -->
	<!-- <select id="findRecentChatRoomList" resultType="chatContent">
		select 
		    content_no,
		    chatroom_id,
		    send_email,
		    receive_email,
		    message_content,
		    message_time,
		    (select count(*) from tmi_chat_content where chatroom_id = cc.chatroom_id and message_time > (select last_check from tmi_chat_room where chatroom_id = cc.chatroom_id and receive_email = #{loginMemberEmail} and send_email = #{loginMemberEmail})) unread_count
		from(
		    select 
		        cc.*,
		        row_number() over(partition by chatroom_id order by message_time desc) rnum
		    from tmi_chat_content cc
		    where send_email=#{loginMemberEmail} or receive_email = #{loginMemberEmail}) cc
		where 
		    rnum = 1
		order by 
			message_time desc
	
	</select> -->
</mapper>