<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.board.planner.model.dao.PlannerBoardDao">
<!-- <mapper namespace="dao 경로"> -->
	<select id="selectPlannerBoardList" parameterType="String" resultMap="PlannerBoardMap">
		select
		    p.p_no,
		    p.p_title,
		    p.p_explan,
		    p.p_leave_date,
		    p.p_return_date,
		    pb.pb_no,
		    pb.pb_p_no,
		    m.m_nickname,
		    pb.pb_title,
		    pb.pb_content,
		    pb.pb_created_at,
		    pb.pb_updated_at,
		    pb.pb_read_count,
		    (select count(*) from tmi_planner_board_comment where pbc_pb_no = pb.pb_no) commentCount
		from
		    tmi_planner_board pb join tmi_member m
		        on pb_m_email = m.m_email
		            join tmi_planner p
		                on pb_p_no = p.p_no
		order by
		    pb.pb_no desc
	</select>
	
	<select id="selectPlannerBoardSearchList" parameterType="String" resultMap="PlannerBoardMap">
		select
		    p.p_no,
		    p.p_title,
		    p.p_explan,
		    p.p_leave_date,
		    p.p_return_date,
		    pb.pb_no,
		    pb.pb_p_no,
		    m.m_nickname,
		    pb.pb_title,
		    pb.pb_content,
		    pb.pb_created_at,
		    pb.pb_updated_at,
		    pb.pb_read_count,
		    (select count(*) from tmi_planner_board_comment where pbc_pb_no = pb.pb_no) commentCount
		from
		    tmi_planner_board pb join tmi_member m
		        on pb_m_email = m.m_email
		            join tmi_planner p
		                on pb_p_no = p.p_no
		<include refid="search"></include>       
		order by
		    pb.pb_no desc
	</select>
	
	<select id="selectSearchTotalList" parameterType="map" resultType="int">
		select
			count(*)
		from (
			select
		    	p.p_no,
		    	p.p_title,
		    	p.p_explan,
		    	p.p_leave_date,
		    	p.p_return_date,
		    	pb.pb_no,
		    	pb.pb_p_no,
		    	m.m_nickname,
		    	pb.pb_title,
		    	pb.pb_content,
		    	pb.pb_created_at,
		    	pb.pb_updated_at,
		    	pb.pb_read_count,
		    	(select count(*) from tmi_planner_board_comment where pbc_pb_no = pb.pb_no) commentCount
			from
		    	tmi_planner_board pb join tmi_member m
		       	 on pb_m_email = m.m_email
		            	join tmi_planner p
		                	on pb_p_no = p.p_no
			<include refid="search"></include>)       
	</select>
	
	<insert id="insertPlannerBoard">
		insert into 
			tmi_planner_board 
		values 
			(seq_pf_no.nextval, #{pbPNo}, #{pbMEmail}, #{pbTitle}, sysdate, sysdate, 0, #{pbContent})
			
		<selectKey keyProperty="pbNo" resultType="_int" order="AFTER">
			select
				seq_pf_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertPlannerComment">
		insert into 
			tmi_planner_board_comment 
		values
			(seq_pbc_no.nextval, #{pbcPbNo}, #{pbcMEmail}, sysdate, #{pbcContent})
	</insert>
	
	<insert id="insertLove">
		insert into 
			tmi_planner_board_love 
		values
			(seq_pbl_love_no.nextval, #{email}, #{loNo}, 1)
	</insert>
	
	<insert id="savePlanner">
		insert into 
			tmi_planner
		values
			(seq_p_no.nextval, #{pmEmail}, #{pTitle}, #{pExplan}, #{pLeaveDate}, #{pReturnDate}, #{pWriteDate})
		<selectKey keyProperty="pNo" resultType="_int" order="AFTER">
			select
				seq_p_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">where pb.pb_title LIKE '%${keyword}%'</if>
			<if test="searchType == 'c'.toString()">where pb.pb_content LIKE '%${keyword}%'</if>
			<if test="searchType == 'w'.toString()">where m.m_nickname LIKE '%${keyword}%'</if>
			<if test="searchType == 'tc'.toString()">where (pb.pb_title LIKE '%${keyword}%') or (pb.pb_content LIKE '%${keyword}%')</if>
		</if>
	</sql>
	
	
<!-- 	<insert id="savePlannerPlan" parameterType="java.util.List">
		insert into tmi_planner_plan (pp_no, pp_p_no, pp_time, pp_place_name, pp_memo, pp_x, pp_y, pp_date)
		select seq_pp_no.nextval, A.* from(
		<foreach item="item" collection="list" separator="UNION ALL " >
			select
				#{item.pppNo} as pp_p_no,
				to_char(#{item.ppTime}, 'YYYY-MM-DD HH24:MI') as pp_time,
				#{item.ppPlaceName} as pp_place_name,
				#{item.ppMemo} as pp_memo,
				#{item.ppX} as pp_x,
				#{item.ppY} as pp_y,
				#{item.ppDate} as pp_date
			from dual
		</foreach>) A
	</insert> -->
	
	
 	<resultMap id="PlannerBoardMap" type="plannerBoard">
		<result column="pb_no" property="pb_no"/>
		<result column="pb_p_no" property="pb_p_no"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="pb_title" property="pb_title"/>
		<result column="pb_content" property="pb_content"/>
		<result column="pb_created_at" property="pb_created_at"/>
		<result column="pb_updated_at" property="pb_updated_at"/>
		<result column="pb_read_count" property="pb_read_count"/>
		<result column="commentCount" property="commentCount"/>
	 </resultMap>
</mapper>