<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.admin.model.dao.AdminListDao">

 <select id="selectAdminList" parameterType="String" resultMap ="AdminListMap">
	select
	 
	 m_no, 
	 m_nickname, 
	 m_name, 
	 m_email, 
	 m_phone
	  
    from 
    	tmi_member 
    order by  	
    	m_no desc
	
	</select>
	

	
	 
	 <resultMap id="AdminListMap" type="adminList">
		<result column="m_no" property="m_no"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="m_name" property="m_name"/>
		<result column="m_email" property="m_email"/>
		<result column="m_phone" property="m_phone"/>
	 </resultMap> 
	
</mapper>