<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.member.model.dao.MemberDao">
<!-- <mapper namespace="dao 경로"> -->
	<insert id="insertMember">
		insert into
			tmi_member
		values (
			seq_m_no.nextval,
			#{mEmail},
			#{mNickName},
			#{mPassword},
			#{mName},
			#{mPhone},
			default)
	</insert>
	<insert id="insertMemberRole">
		insert into
			tmi_member_role
		values(
			'ROLE_USER', #{mEmail})
	</insert>
	
	
	<select id="emailChk" resultType="member">
		select
			*
		from
			tmi_member
		where
			m_email = #{mEmail}
	</select>
	
	<select id="NickNameChk" resultType="member">
		select
			*
		from
			tmi_member
		where
			m_nickname = #{mNickName}
	</select>
	
	<update id="findPwUpdate">
		update
			tmi_member
		set
			m_password = #{mPassword}
		where
			m_email = #{mEmail}

	</update>
	
	<update id="updateMember">
		update
			tmi_member
		set
			m_nickname = #{mNickName},
			m_name = #{mName},
			m_phone = #{mPhone}
		where
			m_email = #{mEmail}
	</update>
	
	<delete id="memberDelete">
		delete from
			tmi_member
		where
			m_no = #{mNo}
	</delete>
	
	<select id="findByBoardAllListByEmail" resultType="com.tmi.spring.member.model.dto.MemberBoard">
		select * from (
			select * from tmi_planner_board where pb_m_email = #{pbMEmail} union all
			select * from tmi_review_board where rb_m_email = #{rbMEmail} union all
			select * from tmi_friend_board where fb_m_email = #{fbMEmail})
		order by pb_created_at desc
	</select>
	
	<select id="selectTotalContent" resultType="Integer" parameterType="com.tmi.spring.member.model.dto.MemberBoard">
		select count(*) from (
			select * from tmi_planner_board where pb_m_email = #{pbMEmail} union all
			select * from tmi_review_board where rb_m_email = #{rbMEmail} union all
			select * from tmi_friend_board where fb_m_email = #{fbMEmail})
	</select>
	
	<select id="findByFriendBoardListByEmail" resultType="com.tmi.spring.member.model.dto.MemberBoard">
		select 
			fb.fbNo,
		    fb.fbPNo,
		    m.mNickname,
		    fb.fbTitle,
		    fb.fbContent,
		    fb.fbCreatedAt,
		    fb.fbUpdatedAt,
		    fb.fbReadCount,
 from tmi_friend_board fb join tmi_member m on fb_m_email = m.m_email where fb_m_email = #{fbMEmail}
		order by fb_created_at desc
	</select>
	
	<select id="selectFriendBoardTotalContent" resultType="Integer" parameterType="com.tmi.spring.member.model.dto.MemberBoard">
		select count(*) from tmi_friend_board where fb_m_email = #{fbMEmail}
	</select>
	
	<resultMap type="member" id="memberMap">
		<id column="m_email" property="mEmail"/>
		<result column="m_password" property="mPassword"/>
		<result column="m_name" property="mName"/>
		<result column="m_nickname" property="mNickName"/>
		<result column="m_phone" property="mPhone"/>
		<result column="m_created_at" property="mCreatedAt"/>
		<result column="m_no" property="mNo"/>
		<collection property="authorities" ofType="simpleGrantedAuthority">
			<constructor>
				<arg column="mr_auth" javaType="string"/>
			</constructor>
		</collection>
	</resultMap>

</mapper>