<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.member.model.dao.MemberDao">
<!-- <mapper namespace="dao 경로"> -->
	<insert id="insertMember">
		insert into
			tmi_member
		values (
			#{mNickName},
			seq_m_no.nextval,
			#{mEmail},
			#{mPassword},
			#{mName},
			#{mPhone},
			null,
			default)
	</insert>
	
	<select id="selectOneMember" resultType="member">
		select
			*
		from
			tmi_member
		where
			m_email = #{mEmail}
	</select>

</mapper>