<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.admin.notice.model.dao.NoticeBoardDao">
<!-- <mapper namespace="dao 경로"> -->
 	<select id="selectNoticeBoardList" parameterType="String" resultMap="NoticeBoardMap">
 	<!-- parameterType="String" resultMap="NoticeBoard -->
		select
		    nb.nb_no,
		    m.m_nickname,
		    nb.nb_title, 
		    nb.nb_content,
		    nb.nb_created_at,
		    nb.nb_update_at,
		    nb.nb_read_count,
		    (select count(*) from tmi_notice_board_attachment where nba_nb_no = nb.nb_no) attachCount
		    
		from
		    tmi_notice_board nb join tmi_member m
		        on nb_m_email = m.m_email
		order by
			nb.nb_no desc
	</select> 
	
	
	<insert id="insertNoticeBoard">
		insert into 
			tmi_notice_board 
		values 
			(seq_nb_no.nextval, #{nbMEmail}, #{nbTitle}, sysdate, sysdate, 0,#{nbContent})
			
		<selectKey keyProperty="nbNo" resultType="_int" order="AFTER">
			select
				seq_nb_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into 
			tmi_notice_board_attachment 
			(nba_no, nba_nb_no, nba_original_filename, nba_renamed_filename) 
		values 
			(seq_nba_no.nextval, 
			#{nbaNbNo}, 
			#{nbaOriginalFilename}, 
			#{nbaRenamedFilename})
	</insert>
	
	 
	<resultMap id="NoticeBoardMap" type="noticeBoard">
		<result column="nb_no" property="nb_no"/>
		<result column="m_nickname" property="m_nickname"/>
		<result column="nb_title" property="nb_title"/>
		<result column="nb_content" property="nb_content"/>
		<result column="nb_created_at" property="nb_created_at"/>
		<result column="nb_updated_at" property="nb_updated_at"/>
		<result column="nb_read_count" property="nb_read_count"/>
		<result column="attachCount" property="attachCount"/>
	 </resultMap> 
</mapper>