<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmi.spring.planner.model.dao.PlannerDao">
<!-- <mapper namespace="dao 경로"> -->
	<insert id="createPlanner">
		insert into
			tmi_planner
		values (
			seq_p_no.nextval,
			#{pmEmail},
			#{pTitle},
			#{pExplan},
			#{pLeaveDate},
			#{pReturnDate},
			default,
			default)
			<selectKey keyProperty="pNo" resultType="_int" order="AFTER">
				select
					seq_p_no.currval
				from
					dual
			</selectKey>
	</insert>
	
	<insert id="savePlannerPlan">
		insert into
			tmi_planner_plan
		values (
			seq_pp_no.nextval,
			#{pppNo},
			default,
			#{ppPlaceName},
			#{ppMemo},
			#{ppX},
			#{ppY},
			#{ppTime})
	</insert>
</mapper>